html
	head
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,100,300' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Open Sans:400,100,300' rel='stylesheet')
		link(rel="stylesheet" href="css/main.css")
		block title
			title Schedular
		block CSS
	body
		div#navbar
			a(href="/c" style="z-index:10000;float:left;outline: none;color: #000")
				div.navbar__logoWrap
					div.navbar__logo--Img
					div.navbar__logo--Text Schedular
			div(style="float: left;")
				input#navbar__courseSearch(placeholder="Search for profs, courses, etc.")
			div.navbar__thingWrap
				a(href="/c" style="outline: none;float: left;margin-top: -2.5px;")
					div.navbar__thing.navbar__thing--home 
				div.navbar__thing.navbar__thing--name Guest
				div.navbar__thing.navbar__thing--menuDrop
					div.navbar__menuBud
		block Body
		block JS