extends __template

block title
	title Schedular - Profile
block CSS
	link(rel="stylesheet" href="/css/profile.css")

block Body
	div.profile__wrap
		div#profile__name Joseph Thomas
		button.cool__button UPLOAD TRANSCRIPT
		div#profile__status Undergraduate Student - Grad 2019
		div.profile__header Saved Schedules
		div.display__material
		br
		div.profile__header Recent Ratings
		div.display__material.display__material--rating