extends __template

block HeadContent
	link(rel="stylesheet" href="/css/home--contact.css")
	title Schedular · Contact
	
block BodyContent
	div#page__wrapper
		div#page__container
			div#page__title Contact
			div#page__content.
				If you'd like to get in contact with us, you can snapchat us at schedularteam, or message our facebook page: facebook.com/schedular.