extends __template

block HeadContent
	link(rel="stylesheet" href="/css/home--home.css")
	title Schedular.io · We Are Course Scheduling.

block BodyContent
	div#mainBlock
		img.mainBlock__imgLogo(src="/img/mainLogo.png")
		.mainBlock__logo Schedular
		.mainBlock__logo.mainBlock__logo--sublogo Course planning at UFV is now easier than your mother.
		a(href="/c" title="Try it out")
			.mainBlock__signup Try it out!
	