extends __template

block HeadContent
	link(rel="stylesheet" href="/css/home--home.css")
	title Schedular · We Are Course Scheduling.
	meta(name="description" content="Schedular, is an online course scheduler and course planner that allows university students to easily make course schedules based on professor ratings and time.")
block BodyContent
	div#mainBlock
		img.mainBlock__imgLogo(src="/img/mainLogo.png")
		.mainBlock__logo Schedular
		.mainBlock__logo.mainBlock__logo--sublogo Course planning at UFV is as easy as yo girl
		a(href="/c" title="Try it out")
			.mainBlock__signup Try it out!
	