extends __template

block headContent
	title Schedular.io · Board
	style.
		#main__wrap{
			width: 100%;
			height: 100%;
			display: inline-block;
		}
		#bigBoard{
			height: 700px;
			width: 500px;
			margin-top: 50px;
			border-radius: 2px;
			position: relative;
			border: 1px solid #DDD;
			float: left;
		}
		#board__dayWrap{
			float: right;
			width: 100%;
			border-bottom: 1px solid #DDD;
		}
			.board__day{
				width: 12.5%;
				border-right: 1px solid #DDD;
				height: 6.25%;
				display: inline-block;
				font-size: 11px;
				padding: 15px 2px 15px 2px;
				box-sizing: border-box;
				text-align: center;
				font-family: Open Sans;
				color: #444;
				font-weight: 300;
			}
			.board__day--last{
				border-right: 0;
			}
		#board__timeWrap{
			float: left;
			height: 100%;
			width: 12.5%;
		}
			.board__time{
				height: 6.25%;
				border-bottom: 1px solid #DDD;
				border-right: 1px solid #DDD;
				text-align: center;
				font-family: Open Sans;
				color: #444;
				font-weight: 300;
				font-size: 11px;
				padding: 15px 2px 15px 2px;
				box-sizing: border-box;
			}
			.board__time--last{
				border-bottom: 0;
			}
		#board__blockContainer{
			width: 87.5%;
			float: right;
			height: 93.75%;
			position: relative;
		}
			.board__timeBlock{
				width: 14.2857143%;
				background-color: #DDD;
				border: 1px solid rgba(255,255,255,0.6);
				box-sizing: border-box;
				text-align: center;
				font-family: Open Sans;
				color: #FFF;
				font-weight: 300;
				font-size: 11px;
				border-radius: 2px;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		#instant{
			float: right;
			width: 400px;
			margin-top: 50px;
		}
			#instant__input{
				padding: 10px;
				font-size: 12px;
				font-weight: 400;
				color: #999;
				width: 100%;
				font-family: Open Sans;
				border: 0;
				border-bottom: 1px solid #DDD;
				outline: 0;
				height: 46px;
			}
		#resultTemplate{
			display: none;
		}
		.result__container{
			width: 100%;
			font-family: Open Sans;
			font-size: 12px;
			cursor: pointer;
			padding: 5px;
		}
		.result__container:hover{
			background-color: #89C4F4;
		}
			.result__header{
				font-weight: 600;
			}
			.result__sections{
				width: 100%;
				margin-top: 5px;
				border-top: 1px solid #DDD;
				display: none;
			}
block bodyContent
	div#main__wrap
		div#bigBoard
			div#board__dayWrap
				div.board__day &nbsp;
				div.board__day Sunday
				div.board__day Monday
				div.board__day Tuesday
				div.board__day Wednesday
				div.board__day Thursday
				div.board__day Friday
				div.board__day.board__day--last Saturday
			div#board__timeWrap
				each time, index in ['8:00 am','9:00 am','10:00 am','11:00 am','12:00 pm','1:00 pm','2:00 pm','3:00 pm','4:00 pm','5:00 pm','6:00 pm','7:00 pm','8:00 pm','9:00 pm']
					div.board__time=time
				div.board__time.board__time--last 10:00 pm
			div#board__blockContainer
		div#instant
			input#instant__input(placeholder="Find Some Courses")
			div#dropdown



	div.result__container#resultTemplate
		div.result__header 
		div.result__body
		div.result__sections
	script(src="/js/show/UTIL.js")
	script(src="/js/board/main.js")
	script(src="/js/board/search.js")