extends __template


block bodyContent
	link(rel="stylesheet" href="/css/course.css")
	div#course__wrap
		div#course__name CPSC 110
		div#course__extraInfo Has Lab
		div#course__description Fundamental program and computation structures. Introductory programming skills. Computation as a tool for information processing, simulation and modeling, and interacting with the world.
		ul#course__prereqs
			lh PREREQS
			br
			li MATH112
			br
			li CPSC 110
		ul#course__profs
			lh PROFS
			br
			li DR. BERG
			br
			li DR. THOMAS
		div#course__timeWrap
			div.course__header Lecture section
			div.course__time
			div.course__time
			div.course__time
			div.course__time
			div.course__header Lab sections
			div.course__time
			div.course__time
			div.course__time
			div.course__time
		div#rating__wrap
			div#rating__header RATINGS AND COMMENTS
			div.rating
				div.rating__userBar
				div.rating__userName Joseph Thomas
				div.rating__userStatus undergraduate


































