extends __template

block headContent
	link(rel="stylesheet" href="/css/s--controls.css")
	link(rel="stylesheet" href="/css/s--schedule.css")
block bodyContent
	div#controls__container
		div#controls__sortWrap
			div.sort__label.sort__label--top
				button.sort__item START TIME
				button.sort__item.sort__item--active DENSITY
				button.sort__item PROF RATING
			div.sort__container
				div.sort__bar
				div.sort__nub
		#controls__filterWrap
			.controls__filter CAMPUS
			.controls__filter SECTION
	div#schedule__container
		.schedule__arrow.schedule__arrow--previous
		.schedule__arrow.schedule__arrow--next
		.schedule__wrap
			.schedule__dayWrap
				each time, index in ['Su','Mo','Tu','We','Th','Fr','Sa']
					.schedule__dayLabel=time
			.schedule__timeWrap
				each time, index in ['8 am','9 am','10 am','11 am','12 pm','1 pm','2 pm','3 pm','4 pm','5 pm','6 pm','7 pm','8 pm','9 pm','10 pm']
					.schedule__timeLabel=time
			.schedule__blockWrap
				each day in [0,1,2,3,4,5,6]
					each time in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
						div.schedule__breakBlock