extends __template


block headContent
	link(href="https://fonts.googleapis.com/css?family=Josefin+Sans|Varela+Round" rel="stylesheet")
	link(href="/css/scheduling/schedule.css" rel="stylesheet")
	link(href="/css/scheduling/analytics.css" rel="stylesheet")
	link(href="/css/scheduling/controls.css" rel="stylesheet")
block bodyContent
	div.schedule__bar
		div.schedule__slider
			div.ss--line
			div.ss--nub
	div.schedule
		div.schedule__block
			div.s--blockTitle CPSC 110 202
			div.s--timeLabel 10am -- 1pm
		div.day__wraps
			each day in ['MON','TUE','WED','THU','FRI']
				div.day__item=day
		div.time__wraps
			each time in [8,9,10,11,12,1,2,3,4,5,6,7,8,9,10]
				div.time__item=time
	div.schedule__analytics
		div.sa--score 3
			span.sa--ten / 10
		div.schedule__profWrap
			div.schedule__section
				div.sa--course CPSC 110 202
				div.sa--prof DR. BERG
				div.sa--rating 3.11
			div.schedule__section
				div.sa--course COGS 200 101
				div.sa--prof DR. FAIS
				div.sa--rating 3.11
			div.schedule__section
				div.sa--course MATH 200 201
				div.sa--prof DR. GAO
				div.sa--rating 3.11