extends __template


block headContent
	link(href="https://fonts.googleapis.com/css?family=Josefin+Sans|Varela+Round" rel="stylesheet")
	link(href="/css/scheduling/schedule.css" rel="stylesheet")
	link(href="/css/scheduling/controls.css" rel="stylesheet")
	style.
		.schedule__bar{
			width: 80%;
			margin: auto;
			margin-top: 50px;
			height: 40px;
			border-radius: 5px;
			background-color: #F0F0F0;
			box-shadow: 0px 1px 1px #BBB;
		}
			/** Styling specifically for the range slider */
			.schedule__slider{
				width: 150px;
				height: 40px;
				line-height: 40px;
				float: left;
				margin-lefT: 5px;
			}
				.ss--line{
					width: 150px;
					height: 2px;
					margin-top: 19px;
					background-color: #19B5FE;
					margin-left: 15px;
				}
				.ss--nub{
					height: 30px;
					width: 30px;
					background-color: #FFF;
					border-radius: 20px;
					margin-top: -15px;
					box-shadow: 0px 0px 3px #999;

				}
block bodyContent
	div.schedule__bar
		div.schedule__slider
			div.ss--line
			div.ss--nub
	div.schedule
		div.schedule__block
			div.s--blockTitle CPSC 110 202
			div.s--timeLabel 10am -- 1pm
		div.day__wraps
			each day in ['MON','TUE','WED','THU','FRI']
				div.day__item=day

		div.time__wraps
			each time in [8,9,10,11,12,1,2,3,4,5,6,7,8,9,10]
				div.time__item=time
