#course__wrap{
	width: 90%;
	margin: auto;
	max-width: 800px;
	margin-top: 50px;
}

#course__name{
	width: 100%;
	font-family: Raleway;
	font-weight: 300;
	font-size: 30px;
	text-align: left;
}
	#course__extraInfo{
		font-size: 12px;
		font-family: Open Sans;
		color: #999;
		text-align: left;
		margin-bottom: 20px;
		font-weight: 900;
	}
	#course__description{
		font-family: Raleway;
		font-size: 12px;
		font-weight: 300;
		text-align: left;
		margin-top: 20px;
		line-height: 20px;
		width: 70%;
	}
	#course__prereqs{
		float: left;
		font-family: Raleway;
		font-size: 13px;
		list-style-type: disc;
		margin-top: 40px;
	}
		#course__prereqs lh{
			border-bottom: 1px solid #DDD;
			margin-bottom: 10px;
			font-weight: 800;
			float: left;
		}
		#course__prereqs li{
			float: left;
		}
	#course__profs{
		float: left;
		font-family: Raleway;
		font-size: 13px;
		list-style-type: none;
		margin-left: 30px;
		margin-top: 40px;
	}
		#course__profs lh{
			border-bottom: 1px solid #DDD;
			margin-bottom: 10px;
			font-weight: 800;
			float: left;
		}
		#course__profs li{
			float: left;
		}


#rating__wrap{
	width: 100%;
	background-color: #EEE;
	border-radius: 5px;
	min-height: 30px;
	float: left;
	margin-top: 40px;
	padding: 10px;
	box-sizing: border-box;
}
	#rating__header{
		font-family: Raleway;
		font-size: 12px;
		font-weight: 800;
		float: left;
		margin: 5px;
	}
	.rating{
		height: 150px;
		width: 100%;
		float: left;
		border: 1px solid #DDD;
		border-radius: 5px;
		background-color: #FFF;
		margin-top: 10px;
		overflow: hidden;
	}
		.rating__userBar{
			background-color: #D91E18;
			height: 100%;
			width: 2px;
			float: left;
		}
		.rating__userBar--top{
			width: 100%;
			height: 2px;
		}
		.rating__userName{
			font-family: Raleway;
			font-size: 14px;
			font-weight: 800;
			float: left;
			color: #999;
			margin: 10px 10px 0 10px;
			width: 90%;
			text-align: left;
		}
			.rating__userStatus{
				font-size: 11px;
				font-weight: 800;
				color: #000;
				float: left;
				width: 90%;
				text-align: left;
				margin-left: 10px;
				margin-top: 5px;
				font-family: Raleway;
			}