
#page__wrapper{
	max-width: 1000px;
	width: 80%;
	margin: auto;
	margin-top: 40px;
	display: inline-block;
	text-align: left;
}
	#page__title{
		font-size: 30px;
		font-family: Raleway;
		font-weight: 300;
	}
