#wholeContainer{
	max-width: 1000px;
	margin: auto;
	width: 100%;
}

#navbar{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	margin-top: 30px;
}
	.navbar__logoWrap{
		float: left;
		font-size: 14px;
		font-family: Raleway;
		font-weight: 300;
	}
		.navbar__logo--Img{
			height: 25px;
			width: 25px;
			background: url(/img/mainLogo.png) center center no-repeat;
			background-size: 100%;
			float: left;
		}
		.navbar__logo--Text{
			float: right;
			height: 25px;
			line-height: 25px;
			margin-left: 15px;
		}
	
	.navbar__thingWrap{
		float: right;
		font-family: Open Sans;
		font-size: 12px;
		font-weight: 100;
	}
		.navbar__thing{
			display: table-cell;
			vertical-align: middle;
		}
			.navbar__thing--home{
				height: 26px;
				width: 26px;
				padding: 4px;
				box-sizing: border-box;
				border-radius: 20px;
				transition: border-color .25s, background-color .25s;
				cursor: pointer;
				background: url(/img/homeIcon.png) no-repeat;
				background-position: 50% 45%;
				background-size: 15px 15px;
			}
				.navbar__thing--home:hover{
					background-color: #34495e;
					border-color: transparent;
					transition: border-color .25s, background-color .25s;
				}
			.navbar__thing--name{
				padding: 0 15px 0 15px;
			}
			.navbar__thing--menuDrop{
				height: 20px;
				width: 20px;
				background: url(/img/menuIcon.png) center center no-repeat;
				background-size: 18px 18px; 
				cursor: pointer;
			}





















