#schedule__container{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 10px;
}
	.schedule__arrow{
		height: 30px;
		width: 30px;
		border: 1px solid #EEE;
		border-radius: 5px;
		display: inline-block;
		margin: 5px 10px;
	}
	.schedule__arrow--next{
		background: url(/img/triangle__right.png) center center no-repeat;
		background-size: 60%;
	}
	.schedule__arrow--previous{
		background: url(/img/triangle__left.png) center center no-repeat;
		background-size: 60%;
	}
	.schedule__wrap{
		width: 300px;
		height: 300px;
		border: 1px solid transparent;
		margin: auto;
	}
	.schedule__dayWrap{
		width: 100%;
		font-family: Open Sans;
		font-weight: 400;
		font-size: 12px;
		color: #444;
	}
		.schedule__dayLabel{
			display: inline-block;
			width: 12.5%;
			height: 6.25%;
			float: right;
			text-align: center;
		}
	.schedule__timeWrap{
		float: left;
		height: 100%;
		width: 12.5%;
		margin-top: 6.25%;
		padding-right: 0.5%;
		box-sizing: border-box;
	}
		.schedule__timeLabel{
			display: list-item;
			list-style-type: none;
			font-family: Open Sans;
			font-size: 11px;
			text-align: right;
			height: 6.25%;
			color: #444;
		}
	.schedule__blockWrap{
		float: right;
		height: 93.75%;
		width: 87.5%;
		border-top: 1px solid #EEE;
		border-left: 1px solid #EEE;
		box-sizing: border-box;
		margin-top: -1px;	
	}
		.schedule__breakBlock{
			border: 1px solid #EEE;
			border-top: 0;
			border-left: 0;
			box-sizing: border-box;
			height: 6.695%;
			width: 14.24%;
			float: left;
		}

		.schedule__breakBlock:active{
			background-color: #EEE;
		}
